[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
pymysql = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
cryptography = "*"
mysqlclient = "*"

[requires]
python_version = "3.9"
